<ion-view title="Home" hide-nav-bar="true" id="page1" class=" ">
    <ion-content padding="true" style="background: url(img/T5kUR6WZTHSYdSFEXnp3_Opao%252C%2520Israel3-1-32.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <h1 id="home-heading1" style="color:#CDC2D1;" class=" ">TOURIST GUIDE</h1>
        <p id="home-markdown1" style="color:#FDF7F7;font-size:23px;" class=" ">The City of
            <strong>Golden Frienship</strong>
        </p>
    </ion-content>
</ion-view>