<ion-view title="" id="page4" class=" ">
    <ion-content padding="true" style="background: url(img/inqgSJSHSNHFqrmt1L5w_Opao%252C%2520Israel3-1-32.jpg) no-repeat center;background-size:cover;" class="has-header">
        <button id="page4-button1" class=" button button-dark  button-block ">SHOPPING</button>
        <button id="page4-button2" class=" button button-dark  button-block ">RESTAURANTS</button>
        <button id="page4-button3" class=" button button-dark  button-block ">BEACH RESORTS</button>
        <button id="page4-button4" class=" button button-dark  button-block ">VISITED SPOTS</button>
        <button id="page4-button5" class=" button button-dark  button-block ">ACTIVITIES</button>
        <div style="margin-right:-20px;">
            <button id="page4-button6" style="left:-10px;font-size:-10px;border-radius:-5px -5px -5px -5px;" class=" button button-dark  button-full ">CITY MAP</button>
        </div>
    </ion-content>
</ion-view>